<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>./includes</directory>
			<file>batch-processing.php</file>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml" />
	</logging>
</phpunit>
