/**
 * Styles for the Locomotive plugin.
 */

#batch-main * {
	box-sizing: border-box;
}

.batch-processes small {
	text-transform: lowercase;
}

.locomotive-form #submit {
	margin-right: 12px;
}

.batch-processes {
	margin: 10px 0 20px;
}

.batch-processes li {
	margin-bottom: 10px;
}

.batch-processes li input[type="radio"] {
	margin-top: 0;
}

/**
 * Overlay that contains info about current batch process.
 */
.locomotive-overlay {
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	opacity: 0;
	display: table;

	padding: 48px 24px;
	width: 75%;

	margin: auto;
	position: absolute;
	top: -650px;
	left: 0; bottom: 0; right: 0;

	background: white;
	box-shadow: 0 0 10px #ccc;
}
	.batch-overlay__inner {
		display: table-cell;
		vertical-align: middle;
	}
	.locomotive-overlay.is-open {
		top: 0;
		opacity: 1;
	}
	.locomotive-overlay .close {
		position: absolute;
		top: 8px;
		right: 12px;
		cursor: pointer;
	}
	.locomotive-overlay h2 {
		margin-top: 0;
		margin-bottom: 12px;
	}
	.batch-info {
		margin-bottom: 6px;
	}
	.progress-bar {
		background: #f0f0f0;
		color: white;
		line-height: 35px;
		padding-left: 12px;
		position: relative;
	}
		.progress-bar__text {
			display: block;
			position: relative;
			z-index: 10;
		}
		.progress-bar__visual {
			background: #27ae60;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
		}

		.batch-success__title {
			color: #27ae60;
		}

		.batch-success__title:before {
			margin-right: 5px;
		}

.batch-error .red {
	color: #e74c3c;
}
.batch-error .green {
	color: #2ecc71;
}
	.batch-error__title {
		color: #e74c3c;
	}
	.batch-error__title:before {
		margin-right: 5px;
	}
	.batch-error__list {
		max-height: 250px;
		overflow: scroll;
		background: #eee;
		padding: 1em;
		font-family: monospace;
	}
	.batch-error__btn {
		background: none;
		border: none;
		font-size: 12px;
		font-weight: bold;
		cursor: pointer;
	}
	.batch-error__btn:before {
		width: 15px;
		height: 15px;
		line-height: 16px;
		margin-right: 3px;
	}
